/*

Copy fonts to config/www/fonts
https://drive.google.com/file/d/1XRnmy2k0VFxOFaicnkdYH4o-wfAYZAf1/view?usp=sharing

*/


/* * * SF Mono * * */

/* Bold */
@font-face {
    src: local('SF Mono Bold'),
    url('/local/homeplay_assets/fonts/SFMono-Bold.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 700;
    font-display: swap;
  }
  
  /* Bold Italic */
  @font-face {
    src: local('SF Mono Bold Italic'),
    url('/local/homeplay_assets/fonts/SFMono-BoldItalic.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  /* Heavy */
  @font-face {
    src: local('SF Mono Heavy'),
    url('/local/homeplay_assets/fonts/SFMono-Heavy.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 800;
    font-display: swap;
  }
  
  /* Heavy Italic */
  @font-face {
    src: local('SF Mono Heavy Italic'),
    url('/local/homeplay_assets/fonts/SFMono-HeavyItalic.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  /* Light */
  @font-face {
    src: local('SF Mono Light'),
    url('/local/homeplay_assets/fonts/SFMono-Light.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 300;
    font-display: swap;
  }
  
  /* Light Italic */
  @font-face {
    src: local('SF Mono Light Italic'),
    url('/local/homeplay_assets/fonts/SFMono-LightItalic.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  /* Medium */
  @font-face {
    src: local('SF Mono Medium'),
    url('/local/homeplay_assets/fonts/SFMono-Medium.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 500;
    font-display: swap;
  }
  
  /* Medium Italic */
  @font-face {
    src: local('SF Mono Medium Italic'),
    url('/local/homeplay_assets/fonts/SFMono-MediumItalic.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  /* Regular */
  @font-face {
    src: local('SF Mono Regular'),
    url('/local/homeplay_assets/fonts/SFMono-Regular.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 400;
    font-display: swap;
  }
  
  /* Regular Italic */
  @font-face {
    src: local('SF Mono Regular Italic'),
    url('/local/homeplay_assets/fonts/SFMono-RegularItalic.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  /* Semibold */
  @font-face {
    src: local('SF Mono Semibold'),
    url('/local/homeplay_assets/fonts/SFMono-Semibold.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 600;
    font-display: swap;
  }
  
  /* Semibold Italic */
  @font-face {
    src: local('SF Mono Semibold Italic'),
    url('/local/homeplay_assets/fonts/SFMono-SemiboldItalic.woff2') format('woff2');
    font-family: 'SF Mono';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  
  /* * * SF Pro Display * * */
  
  /* Black */
  @font-face {
    src: local('SF Pro Display Black'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Black.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 900;
    font-display: swap;
  }
  
  /* Black Italic */
  @font-face {
    src: local('SF Pro Display Black Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-BlackItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  /* Bold */
  @font-face {
    src: local('SF Pro Display Bold'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Bold.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-display: swap;
  }
  
  /* Bold Italic */
  @font-face {
    src: local('SF Pro Display Bold Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-BoldItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  /* Heavy */
  @font-face {
    src: local('SF Pro Display Heavy'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Heavy.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 800;
    font-display: swap;
  }
  
  /* Heavy Italic */
  @font-face {
    src: local('SF Pro Display Heavy Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-HeavyItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  /* Light */
  @font-face {
    src: local('SF Pro Display Light'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Light.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 300;
    font-display: swap;
  }
  
  /* Light Italic */
  @font-face {
    src: local('SF Pro Display Light Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-LightItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  /* Medium */
  @font-face {
    src: local('SF Pro Display Medium'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Medium.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-display: swap;
  }
  
  /* Medium Italic */
  @font-face {
    src: local('SF Pro Display Medium Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-MediumItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  /* Regular */
  @font-face {
    src: local('SF Pro Display Regular'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-display: swap;
  }
  
  /* Regular Italic */
  @font-face {
    src: local('SF Pro Display Regular Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-RegularItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  /* Semibold */
  @font-face {
    src: local('SF Pro Display Semibold'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Semibold.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-display: swap;
  }
  
  /* Semibold Italic */
  @font-face {
    src: local('SF Pro Display Semibold Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  /* Thin */
  @font-face {
    src: local('SF Pro Display Thin'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Thin.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 200;
    font-display: swap;
  }
  
  /* Thin Italic */
  @font-face {
    src: local('SF Pro Display Thin Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-ThinItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }
  
  /* Ultralight */
  @font-face {
    src: local('SF Pro Display Ultralight'),
    url('/local/homeplay_assets/fonts/SFProDisplay-Ultralight.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 100;
    font-display: swap;
  }
  
  /* Ultralight Italic */
  @font-face {
    src: local('SF Pro Display Ultralight Italic'),
    url('/local/homeplay_assets/fonts/SFProDisplay-UltralightItalic.woff2') format('woff2');
    font-family: 'SF Pro Display';
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  
  
  /* * * SF Pro Text * * */
  
  /* Bold */
  @font-face {
    src: local('SF Pro Text Bold'),
    url('/local/homeplay_assets/fonts/SFProText-Bold.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 700;
    font-display: swap;
  }
  
  /* Bold Italic */
  @font-face {
    src: local('SF Pro Text Bold Italic'),
    url('/local/homeplay_assets/fonts/SFProText-BoldItalic.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  /* Heavy */
  @font-face {
    src: local('SF Pro Text Heavy'),
    url('/local/homeplay_assets/fonts/SFProText-Heavy.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 800;
    font-display: swap;
  }
  
  /* Heavy Italic */
  @font-face {
    src: local('SF Pro Text Heavy Italic'),
    url('/local/homeplay_assets/fonts/SFProText-HeavyItalic.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  /* Light */
  @font-face {
    src: local('SF Pro Text Light'),
    url('/local/homeplay_assets/fonts/SFProText-Light.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 300;
    font-display: swap;
  }
  
  /* Light Italic */
  @font-face {
    src: local('SF Pro Text Light Italic'),
    url('/local/homeplay_assets/fonts/SFProText-LightItalic.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  /* Medium */
  @font-face {
    src: local('SF Pro Text Medium'),
    url('/local/homeplay_assets/fonts/SFProText-Medium.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-display: swap;
  }
  
  /* Medium Italic */
  @font-face {
    src: local('SF Pro Text Medium Italic'),
    url('/local/homeplay_assets/fonts/SFProText-MediumItalic.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  /* Regular */
  @font-face {
    src: local('SF Pro Text Regular'),
    url('/local/homeplay_assets/fonts/SFProText-Regular.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-display: swap;
  }
  
  /* Regular Italic */
  @font-face {
    src: local('SF Pro Text Regular Italic'),
    url('/local/homeplay_assets/fonts/SFProText-RegularItalic.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  /* Semibold */
  @font-face {
    src: local('SF Pro Text Semibold'),
    url('/local/homeplay_assets/fonts/SFProText-Semibold.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-display: swap;
  }
  
  /* Semibold Italic */
  @font-face {
    src: local('SF Pro Text Semibold Italic'),
    url('/local/homeplay_assets/fonts/SFProText-SemiboldItalic.woff2') format('woff2');
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }